body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.w-90 {
  width: 90% !important;
}
.w-80 {
  width: 80% !important;
}
.w-70 {
  width: 70% !important;
}
.outer-container {
  padding: 2% 3%;
}

.inner-container {
  background-color: rgb(103, 75, 177);
  height: 90vh;
  width: 95vw;
  position: relative;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
.inner-container .navbar {
  padding: 20px 50px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
}

.message-img {
  width: 30px;
  margin-right: 10px;
}

.web-design-container {
  width: 40%;
  height: 60%;
  margin-left: 50px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.web-design-container .navbar,
.mobile-design-container .navbar {
  justify-content: space-between;
  align-items: center;
  height: 20px;
  background-color: rgb(0, 36, 48);
}
.web-design-container .navbar .navbar-search-bar,
.mobile-design-container .navbar .navbar-search-bar {
  background-color: #fff;
  height: 100%;
  width: 30%;
  border-radius: 5px;
  margin-left: -10px;
}
.menu-icon div {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
}
.web-design-inner {
  height: 100%;
  padding: 20px 0px 20px 30px;
  /* width: 70%; */
  display: flex;
}
.profile-container {
  height: 100%;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-card {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-card .profile-img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  /* background-color: rgb(252, 129, 158); */
  background-image: linear-gradient(
    to top left,
    rgba(252, 129, 158),
    rgb(250, 175, 192)
  );
}
.profile-card:nth-child(2) .profile-img {
  background-image: linear-gradient(
    to top left,
    rgba(0, 145, 252),
    rgb(96, 189, 255)
  );
}
.profile-card:last-child .profile-img {
  background-image: linear-gradient(
    to top left,
    rgba(189, 82, 238),
    rgb(219, 186, 235)
  );
}

.profile-card .profile-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 5px;
}

.profile-card .profile-content .profile-name {
  height: 10px;
  border-radius: 5px;
  background-color: rgb(227, 228, 233);
  width: 50%;
  margin-bottom: 5px;
}
.profile-card .profile-content .profile-description {
  height: 5px;
  border-radius: 5px;
  background-color: rgb(227, 228, 233);
  width: 90%;
}

.right-side-bar {
  width: 100%;
  height: 156px;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -10px;
}
.right-side-bar .side-bar-title {
  display: flex;
  width: 100%;
  margin-left: -50px;
  /* margin-top: 20px; */
}
.round-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(170, 179, 194);
  margin-right: 10px;
}

.mobile-design-container {
  position: absolute;
  width: 17%;
  height: 50%;
  top: 44%;
  left: 32%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
}
.mobile-design-container .mobile-design-inner {
  height: 60%;
  margin-top: 20px;
  margin-left: 20px;
}

.mobile-design-container .navbar .navbar-search-bar {
  width: 50%;
  margin-left: -10px;
}

.text-container {
  width: 40%;
  padding: 20px;
}
.text-container .text-heading {
  padding: 30px;
}
.text-container .text-heading h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 30px;
  word-spacing: 3px;
  letter-spacing: 2px;
}

.text-container .text-heading p {
  color: #fff;
}

.submit-button {
  color: rgb(170, 179, 194);
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 70px;
  font-weight: 600;
  border: none;
}

.social-media-footer {
  position: absolute;
  right: 30px;
  bottom: 0;
}
.social-media-footer .social-media-icon {
  width: 25px;
  height: 25px;
  margin: 0px 10px 10px 10px;
}
